img {
    height: 100%;
}

.container {
    font-family:"Noto Sans TC", sans-serif;
    line-height: 1.2;
    letter-spacing: 5;

    display: flex;
    justify-items: center;
    align-content: center;
}



.header{
    margin: 0 auto;
    height: 400px;

    position: relative;
    display: inline-block;
}

.header img{
    display: block;
    margin: 0 auto;
    
}
.header-overlay {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    background-color: rgba(#000, .4)
}
.header-text {
    display: block;
    text-align: center;
    font-weight: bold;
    color: white;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header-text h1 {
    font-size: 40px;
    margin-bottom: 16px;
}
.header-text h3 {
    font-size: 34px;
}



.content {
    font-family:"Noto Sans TC", sans-serif;
    line-height: 1.2;
    letter-spacing: 5;

    width: 100%;
    color: #212529;

    margin: 0 auto;
    width: 1076px;
}

.title {
    padding-top: 64px;
    padding-bottom: 64px;
}
.title-text {
    text-align: center;

    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 110px;
    margin-right: 110px;

    background-color: #F5FEE7;
}
.title-text h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #57A203;
}
.title-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 4px;
    color: #212529;
}
.title-pic {
    height: 717px;
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 24px;
}


.brand {
    margin-left: 110px;
    margin-right: 110px;
    border-bottom: 1px solid #DEE2E6;

}
.brand h4 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 48px;
    padding-bottom: 24px;
}
.brand h5 {
    font-size: 20px;
    font-weight: bold;
    color: #57A203;
    padding-bottom: 16px
}

.brand p {
    line-height: 1.5;
}

.brand-con {
    padding-bottom: 48px;
}
.brand-con-text p{
    margin-bottom: 16px ;
}
.brand-his {
    padding-left: 1.8em;
    list-style-type: disc;
}
.brand-his li span{
    display: flex;
}
.brand-his-con {
    margin-left: 16px;
    padding-left: 8px;
    border-left: 1px solid #212529;
}

.brand-concept li{
   border-left: 3px solid #DEE2E6;
   padding-left: 12px; 
   margin-bottom: 12px;
}

.brand-story {
    color: #57A203;
}
.svg-icon
{
    font-size: 20px;
}
.brand-story li {
    display: flex;
    padding-top: 8pt;
    padding-bottom: 12px;
}
.brand-story li p{
    margin-left: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #57A203;
}

.brand-story li a {
    color: #57A203;
    text-decoration: none;
}
 .brand-story li a:hover {
    font-weight: bold;
    color: #3b6d01;
}   



    

.box-01 {
    position: relative;
}
.box-02 {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;;
}

