*{
    box-sizing: border-box;
}

img {
    width: 100%;
    vertical-align: middle;
}

.Columns-5 {
    width: calc((100% / 12)*5);

}
.Columns-7 {
    width: calc((100% / 12)*7);
}


.main-logIn {
    display: flex;
    max-width: 1296px;
    margin: 0 auto;
    padding: 64px 0px;
}

.main-img-sm {
    display: none;
}
.layout-area {
    display: block;
    padding-right: 12px;
}

.logIn-area img {
    display: block;
}


.logIn-area h1{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    padding: 0px 0px 32px 0px;
}

.logIn-area {

    margin: 0px auto;
}

.logIn-layout {
    padding: 120px 80px;
    background-color: $my-neutral-100;
    border-radius: 10px;
}

.leable-logIn {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 32px;
}

.leable-logIn-default{
    width: 50%;
    color: $my-neutral-900;
    border-bottom: 2px solid $my-neutral-900;
}
.leable-logIn-disabled{
    width: 50%;
    color: $my-neutral-600;
    border-bottom: 2px solid $my-neutral-300;
}

.leable-logIn h2 {
    width: 100%;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding: 12px 0px;
    
}


.btn-media-logIn {
    display: flex;
    width: 100%;
    margin: 0px auto 4px auto;
    border: 1px solid $my-neutral-300;
    background-color: $white;
    border-radius: 4px;
}

.btn-media-logIn-area {
    display: block;
}

.btn-media-logIn a:hover {
    opacity: 0.4;
}

.btn-media-logIn img {
    max-width: 40px;
    margin: 0px 12px;

}
.btn-media-logIn a {
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 19px 0px;
    font-weight: 400;
    color: $my-neutral-900;
}








@media (max-width: 375px) {
body {
    padding: 0px 12px;


.main-img-sm {
    display: block;
}
.layout-area {
    display: none;
}

.Columns-5 {
    width: calc((100% / 12)*0);
}
.Columns-7 {
    width: calc((100% / 12)*12);
}

.logIn-layout {
    padding: 0px;
    background-color: $white;
    border-radius: 0px;
}

.main-logIn {
    padding: 32px 0px;
}

.logIn-area h1{
    padding: 0px 0px 32px 0px;
}

.leable-logIn {
    padding-bottom: 24px;
}









}
}